<div class="title">
  <h1>Top Trades</h1>
  <ul class="list-inline">
    <li>
      <a href="/trades">Top</a>
    </li>
    <li class="footer-menu-divider">⋅</li>
    <li>
      <a href="/trades/new">New</a>
    </li>
  </ul>
</div>
<div id="trades">
<% @trades.each do |trade| %>
      <div class="trade_table">
        <a href="/play/<%=trade.id%>">
        <table id="trade">
          <tr>
            <td id="quality1"><%=trade.quality%></td>
          </tr>
          <% trade.teams.each do |team| %>
              <tr id="table_row">
                <th id="exampleh"><%=team.name%></th>
                <% team.players.each do |player| %>
                    <td id="example"><%=player.name%></td>
                <%end%>
              </tr>
          <%end%>
        </table>
        </a>
      </div>
<% end %>
</div>

