// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#reg_form{
  text-align: center;
  padding-bottom: 50px;
}

.field_with_errors{
  display: inline;
}